/* TODO extract */
.controls {
  padding: 4px 0 0 24px;
  background-color: rgb(29, 31, 33);
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
